.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

svg {
  width: 100%;
  height: calc(100% - 50px);
  border: solid 1px gray;
}
